</div>
  </div>
</body>



<script src="/assets/vendors/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/assets/vendors/jquery-ui.min.js" type="text/javascript"></script>
<script src="/assets/vendors/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/vendors/material.min.js" type="text/javascript"></script>
<script src="/assets/vendors/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<script src="/assets/vendors/jquery.validate.min.js"></script>
<script src="/assets/vendors/moment.min.js"></script>
<script src="/assets/vendors/charts/flot/jquery.flot.js"></script>
<script src="/assets/vendors/charts/flot/jquery.flot.resize.js"></script>
<script src="/assets/vendors/charts/flot/jquery.flot.pie.js"></script>
<script src="/assets/vendors/charts/flot/jquery.flot.stack.js"></script>
<script src="/assets/vendors/charts/flot/jquery.flot.categories.js"></script>
<script src="/assets/vendors/charts/chartjs/Chart.min.js" type="text/javascript"></script>
<script src="/assets/vendors/jquery.bootstrap-wizard.js"></script>
<script src="/assets/vendors/bootstrap-notify.js"></script>
<script src="/assets/vendors/bootstrap-datetimepicker.js"></script>
<script src="/assets/vendors/jquery-jvectormap.js"></script>
<script src="/assets/vendors/nouislider.min.js"></script>
<script src="/assets/vendors/jquery.select-bootstrap.js"></script>
<script src="/assets/vendors/jquery.datatables.js"></script>
<script src="/assets/vendors/sweetalert2.js"></script>
<script src="/assets/vendors/jasny-bootstrap.min.js"></script>
<script src="/assets/vendors/fullcalendar.min.js"></script>
<script src="/assets/vendors/jquery.tagsinput.js"></script>
<script src="/assets/js/dbcnews.js"></script>
<script src="/assets/js/panel.js"></script>
<script src="/assets/js/charts/flot-charts.js"></script>
<script src="/assets/js/charts/chartjs-charts.js"></script>



</html>