<div class="sidebar">
    <div class="logo">
        <a href="#" class="simple-text">
            DBC Admin
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="#" class="simple-text">
            T
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a href="http://news.banglametro.com">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="http://news.banglametro.com/publish">
                    <i class="material-icons">create</i>
                    <p>Publish New News</p>
                </a>

            </li>
            <li>
                <a data-toggle="collapse" href="#news" class="collapsed" aria-expanded="false">
                    <i class="material-icons">featured_play_list</i>
                    <p>News
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="news" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li>
                            <a href="http://news.banglametro.com/publish">Publish New News</a>
                        </li>
                        <li>
                            <a href="http://news.banglametro.com/news">News List</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#images" class="collapsed" aria-expanded="false">
                    <i class="material-icons">photo_library</i>
                    <p>Images
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="images" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li>
                            <a href="http://news.banglametro.com/images-list">Images List</a>
                        </li>
                        <li>
                            <a href="http://news.banglametro.com/images-upload">Upload New Images</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#auths" class="collapsed" aria-expanded="false">
                    <i class="material-icons">people_outline</i>
                    <p>User
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="auths" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li>
                            <a href="http://news.banglametro.com/profile">My Profile</a>
                        </li>
                        <li>
                            <a href="http://news.banglametro.com/register">Register New User</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">library_books</i>
                    <p>About Bangla Metro</p>
                </a>
            </li>
        </ul>
    </div>
</div>