<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Title</th>
                                        <th class="disabled-sorting">Details</th>
                                        <th>Reporter</th>
                                        <th>Date &amp; Time</th>
                                        <th class="disabled-sorting text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>SL</th>
                                        <th>Title</th>
                                        <th class="disabled-sorting">Details</th>
                                        <th>Reporter</th>
                                        <th>Date &amp; Time</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {{#each news}}
                                    {{#each this}}
                                    <tr>
                                        <td>{{ this.id }}</td>
                                        <td>{{this.headline}}</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>{{this.created_at}}</td>
                                        <td class="text-right">
                                            <a href="#" class="btn btn-simple btn-info btn-icon like">
                                                <i class="material-icons">favorite</i>
                                            </a>
                                            <a href="#" class="btn btn-simple btn-warning btn-icon edit">
                                                <i class="material-icons">dvr</i>
                                            </a>
                                            <a href="#" class="btn btn-simple btn-danger btn-icon remove">
                                                <i class="material-icons">close</i>
                                            </a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
    </div>
</div>