<div class="content">

     {{#ifCond value '==' 1}}
    <p>sucess</p>
    {{/ifCond}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card" id="profile-main">
                    <div class="card-content">
                        <h3>Welcome {{user.username}}</h3>
                        <div role="tabpanel">
                            <ul class="nav nav-pills">
                                <li class="active">
                                    <a href="#profile11" aria-controls="profile11" role="tab" data-toggle="tab">Profile</a>
                                </li>
                                <li>
                                    <a href="#activities11" aria-controls="messages11" role="tab" data-toggle="tab">Activities</a>
                                </li>
                                <li>
                                    <a href="#settings11" aria-controls="settings11" role="tab" data-toggle="tab">Settings</a>
                                </li>
                                <li>
                                    <a href="#updateprofile11" aria-controls="messages11" role="tab" data-toggle="tab">Update Profile</a>
                                </li>
                                <li>
                                    <a href="#changepassword11" aria-controls="messages11" role="tab" data-toggle="tab">Change Password</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="profile11">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="p-15">
                                                <h4>General</h4>
                                                <hr>
                                                <div class="row m-l-5">
                                                    <div class="col-sm-6 p-5">
                                                        <p>
                                                            <strong>Designation</strong>
                                                        </p>
                                                        <p>
                                                            <strong>Department</strong>
                                                        </p>
                                                        <p>
                                                            <strong>Country</strong>
                                                        </p>
                                                        <p>
                                                            <strong>Date of Birth</strong>
                                                        </p>
                                                        <p>
                                                            <strong>Joining Date</strong>
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6 p-10 p-5">
                                                        <p>Online Reporter</p>
                                                        <p>News Room</p>
                                                        <p>Bangladesh</p>
                                                        <p>15/01/1982</p>
                                                        <p title="17 months ago">12/10/2017</p>
                                                    </div>
                                                </div>
                                                <h4>Contact</h4>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p>
                                                            <i class="zmdi zmdi-phone"></i>Mobile</p>
                                                        <p>
                                                            <i class="zmdi zmdi-email"></i>Email</p>
                                                        <p>
                                                            <i class="zmdi zmdi-account"></i>Skype</p>
                                                    </div>
                                                    <div class="col-sm-6 p-10">
                                                        <p>+1 (612) 999 99999</p>
                                                        <p>reporter@dbcnews.tv</p>
                                                        <p>reporter.skype</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="p-15">
                                                <h4>Last Added News</h4>
                                                <hr>
                                                <p>
                                                    <Strong>This is first news</strong>
                                                </p>
                                                <p>
                                                    <Strong>This is first news</strong>
                                                </p>
                                                <p>
                                                    <Strong>This is first news</strong>
                                                </p>
                                                <p>
                                                    <Strong>This is first news</strong>
                                                </p>
                                                <p>
                                                    <Strong>This is first news</strong>
                                                </p>
                                                <p>
                                                    <Strong>This is first news</strong>
                                                </p>
                                                <p>
                                                    <Strong>This is first news</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="activities11">
                                    <div class="widget p-25">
                                        <div class="widget-body">
                                            <div class="streamline sl-style-2">
                                                <div class="sl-item sl-primary">
                                                    <div class="sl-content">
                                                        <small class="text-muted">5 mins ago</small>
                                                        <p>Williams has just joined Project X</p>
                                                    </div>
                                                </div>
                                                <div class="sl-item sl-danger">
                                                    <div class="sl-content">
                                                        <small class="text-muted">25 mins ago</small>
                                                        <p>Jane sent you a request to grant access to the project folder</p>
                                                    </div>
                                                </div>
                                                <div class="sl-item sl-success">
                                                    <div class="sl-content">
                                                        <small class="text-muted">40 mins ago</small>
                                                        <p>Kate added you to her team</p>
                                                    </div>
                                                </div>
                                                <div class="sl-item">
                                                    <div class="sl-content">
                                                        <small class="text-muted">55</small>
                                                        <p>John has finished his task</p>
                                                    </div>
                                                </div>
                                                <div class="sl-item sl-warning">
                                                    <div class="sl-content">
                                                        <small class="text-muted">60 mins ago</small>
                                                        <p>Jim shared a folder with you</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="settings11">
                                    <div class="widget p-25">
                                        <div class="widget-body">
                                            <div class="togglebutton m-t-15">
                                                <label>
                                                    <input type="checkbox" checked> Get Notifications
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="updateprofile11">
                                    <div class="row">
                                        <div class="p-15">
                                            <h4>Update Profile</h4>
                                            <hr>
                                            <form method="#" action="#">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Name</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Phone</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Skype</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Designation</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group label-floating">
                                                    <select class="selectpicker" data-style="btn btn-primary btn-round" title="Single Select" data-size="7">
                                                        <option disabled selected>Choose Department</option>
                                                        <option value="nrcs">NRCS</option>
                                                        <option value="sales">Sales</option>
                                                        <option value="bo&e">BO&amp;E</option>
                                                    </select>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes"> Confirm Update
                                                    </label>
                                                </div>
                                                <button type="submit" class="btn btn-fill btn-default">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="changepassword11">
                                    <div class="row">
                                        <div class="p-15">
                                            <h4>Change Password</h4>
                                            <hr>
                                            <form method="#" action="#">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Old Password</label>
                                                    <input type="password" class="form-control">
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">New Password</label>
                                                    <input type="password" class="form-control">
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Confirm New Password</label>
                                                    <input type="password" class="form-control">
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes"> Confirm Change Password
                                                    </label>
                                                </div>
                                                <button type="submit" class="btn btn-fill btn-default">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="assets/img/faces/avatar.png" />
                        </a>
                    </div>
                    <div class="card-content">
                        <h6 class="category text-gray">Online Reporter</h6>
                        <h4 class="card-title">Mr Reporter</h4>
                        <p class="description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye
                            I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-rose btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>