<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="post" action="#" class="form-horizontal">
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left">শিরোনাম</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" placeholder="সুন্দর শিরোনাম লিখুন">
                                    </div>
                                    <span class="help-block">Error Message</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">বিভাগসমূহ</label>
                                <div class="col-sm-10">
                                    <div class="checkbox checkbox-inline">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes">জাতীয়
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-inline">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes">আন্তর্জাতিক
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-inline">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes">রাজনীতি
                                        </label>
                                    </div>
                                    <span class="help-block">Error Message</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">বিশেষত্ব</label>
                                <div class="col-sm-10">
                                    <div style="padding-top: 28px;">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox"> টপ নিউজ
                                            </label>
                                        </div>
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox"> ব্রেকিং নিউজ
                                            </label>
                                        </div>
                                        <span class="help-block">Error Message</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">ছবি</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control" placeholder="ছবি যুক্ত করুন">
                                    </div>
                                    <span class="help-block">Error Message</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">হেডলাইন</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <textarea class="form-control" placeholder="সংক্ষিপ্ত বিবরণ লিখুন" style="vertical:none;" rows="3"></textarea>
                                    </div>
                                    <span class="help-block">Error Message</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">বিস্তারিত বর্ণনা</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <textarea class="form-control tinymce" placeholder="বিস্তারিত বর্ণনা লিখুন" style="vertical:none;"></textarea>
                                    </div>
                                    <span class="help-block">Error Message</span>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">ট্যাগসমূহ</label>
                                <div class="col-sm-10">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" value="DBC News,ডিবিসি নিউজ," class="tagsinput" data-role="tagsinput" data-color="rose" />
                                        <!-- can change data-color="rose" with one of our colors primary | warning | info | danger | success -->
                                    </div>
                                    <span class="help-block">Error Message</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <button class="btn btn-block btn-success" type="submit">Post News</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end card -->
            </div>
        </div>
    </div>
</div>