<div class="sidebar">
    <div class="logo">
        <a href="#" class="simple-text">
            DBC Admin
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="#" class="simple-text">
            D
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="/statistics">
                    <i class="material-icons">assessment</i>
                    <p>Statistics</p>
                </a>
            </li>
            <li class="active">
                <a href="/">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="/post/publish">
                    <i class="material-icons">create</i>
                    <p>Publish New News</p>
                </a>

            </li>
            <li>
                <a data-toggle="collapse" href="#news" class="collapsed" aria-expanded="false">
                    <i class="material-icons">featured_play_list</i>
                    <p>News
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="news" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li>
                            <a href="/publish">Publish New News</a>
                        </li>
                        <li>
                            <a href="/">News List</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#images" class="collapsed" aria-expanded="false">
                    <i class="material-icons">photo_library</i>
                    <p>Images
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="images" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li>
                            <a href="/image-list">Images List</a>
                        </li>
                        <li>
                            <a href="/image-upload">Upload New Images</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#auth" class="collapsed" aria-expanded="false">
                    <i class="material-icons">people_outline</i>
                    <p>User
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="auth" aria-expanded="false" style="height: 0px;">
                    <ul class="nav">
                        <li>
                            <a href="/profile">My Profile</a>
                        </li>
                        <li>
                            <a href="/register">Register New User</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">library_books</i>
                    <p>About Admin panel </p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-panel">
   